spring:
  datasource:
    url: jdbc:mysql://localhost:3306/laptop_store
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

security:
  jwt:
    secret: my-super-secret-key-for-jwt-signing-please-change
    expiration-ms: 900000
